@font-face {
    font-family: montserrat-regular;
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

/* BASE */

* {
    box-sizing: border-box;
}

html {
    font-family: montserrat-regular;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: #e3e3e3;
}

a {
    text-decoration: none;
    color: black;
}

.main-layout {
    max-width: 1024px;
    margin: 0 auto;
}

.stored-memes{
    height: 100vh;
}

.main-header .main-nav li {
    border-inline-start: 1px solid #1d1d1d;
}

.main-header .main-nav li:hover {
    background-color: #f89b3e;
}

.main-header .main-nav li:last-child {
    border-inline-end: 1px solid #1d1d1d;
}

.main-header .main-nav a {
    color: inherit;
    text-decoration: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 0.625rem; */
    cursor: pointer;
}

.main-header .logo img {
    height: 50px;
    padding-left: 10px;
}

.gallery-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
}

.editor-container {
    margin: 10px auto;
    justify-content: center;
}

.controls-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(7, 40px);
    margin-left: 20px;
}

.controls-container .btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    font-family: montserrat-regular;
    font-size: 16px
}

.controls-container .btn-share {
    border: none;
}

.controls-container .btn:hover {
    background: linear-gradient(to bottom, #ececec 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.controls-container .btn:active {
    position: relative;
    top: 1px;
}

.controls-container .btn img {
    width: 20px;
    height: 20px;
}

.controls-container input {
    border-radius: 5px;
    border: none;
}

.text-input {
    grid-column: 1/6;
    grid-row: 1/2;
}

.move-up {
    grid-column: 1/2;
    grid-row: 2/3;
}

.move-down {
    grid-column: 2/3;
    grid-row: 2/3;
    transform: rotate(180deg)
}

.switch-lines {
    grid-column: 3/4;
    grid-row: 2/3;
}

.add-line {
    grid-column: 4/5;
    grid-row: 2/3;
}

.delete-line {
    grid-column: 5/6;
    grid-row: 2/3;
}

.empty-line1 {
    grid-column: 1/6;
    grid-row: 3/4;
}

.scale-up {
    grid-column: 1/2;
    grid-row: 4/5;
}

.scale-down {
    grid-column: 2/3;
    grid-row: 4/5;
}

.align-left {
    grid-column: 3/4;
    grid-row: 4/5;
}

.align-center {
    grid-column: 4/5;
    grid-row: 4/5;
}

.align-right {
    grid-column: 5/6;
    grid-row: 4/5;
}

.font {
    grid-column: 1/4;
    grid-row: 5/6;
    border: none;
}

.stroke-color {
    grid-column: 4/6;
    grid-row: 5/6;
}

.btn-download {
    grid-column: 1/4;
    grid-row: 6/7;
}

.btn-download:visited {
    color: black;
}

.save {
    grid-column: 4/6;
    grid-row: 6/7;
}

.share {
    grid-column: 1/3;
    grid-row: 7/8;
}

.facebook-link {
    grid-column: 3/6;
    grid-row: 7/8;
}

.icon {
    width: 30px;
    height: 30px;
}

canvas {
    border: 1px solid black;
    display: block;
}

h1 {
    text-align: center;
}

.memes-container {
    display: grid;
    /* height: 450px; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.memes-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
}

/*HELPERS*/

.active {
    background-color: #f89b3e;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-color {
    background-color: #ff7f00;
}

.main-footer {
    padding: 40px;
    /* position: fixed; */

}

.main-footer .logo img {
    height: 30px;
}

@media (max-width: 500px) {
    .editor-container {
        flex-direction: column;
    }
    canvas {
        width: 100%;
    }
    .controls-container {
        width: 100%;
    }
    .main-header .main-nav a {
        width: 50px;
        height: 50px;
        font-size: 0.8rem;
    }
    .main-footer .logo img {
        height: 30px;
    }
    .main-footer {
        padding: none;
    }
    .main-header .logo img {
        height: 30px;
    }
}